{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "loose": true,
          "modules": false
        }
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
