{
    "root": true,
    "parser": "babel-eslint",
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:jsx-a11y/recommended",
      "plugin:react-hooks/recommended",
      "airbnb"
    ],
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "plugins": ["simple-import-sort", "react"],
    "rules": {
      "comma-dangle": ["error", "never"],
      "simple-import-sort/imports": "error",
      "simple-import-sort/exports": "error",
      "react/react-in-jsx-scope": "off",
      "sort-vars": ["error", { "ignoreCase": true }]

    },
    "globals": {
        "React": "writable"
    }
  }